In [1]:
#What is the risk for given data?
#speed = 160km/h, car_age = 10 years, experience = 5 years

In [2]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('Car data.csv')

In [4]:
df

   speed  car_age  experience   risk
0    200       15          5.0    85
1     90       17         13.0    20
2    165       12          4.0    93
3    110       20          NaN    60
4    140        5          3.0    82
5    115        2          8.0    10

In [5]:
df.isnull().any()

speed          False
car_age        False
experience      True
risk           False
dtype: bool

In [6]:
df = df.rename(columns={'experience ': 'experience'})

In [7]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [8]:
exm_fit = df.experience.mean()

In [9]:
exm_fit

6.6

In [10]:
df.experience = df.experience.fillna(exm_fit)

In [11]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         6.6    60
4    140        5         3.0    82
5    115        2         8.0    10

In [12]:
x = df[['speed','car_age','experience']]
y = df['risk']

In [13]:
reg = linear_model.LinearRegression()

In [14]:
reg.fit(x,y)

LinearRegression()

In [15]:
reg.predict([[160,10,5]])

E:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.57528852])